:root {
  --primary-color: #233142;
  --secondary-color: #e16428;
  --background-color: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  --heading-font-family: "Bree Serif", serif;
  --primary-font-family: "Fjalla One", sans-serif;
  --secondary-font-family: "Rubik", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 76px;
  margin: 0 0 8px;
  color: white;
  line-height: 1;
}

h2 {
  font-family: var(--primary-font-family);
  font-size: 52px;
  font-weight: bold;
  color: var(--primary-color);
  color: white;
}
h3 {
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
  font-size: 34px;
  color: white;
}
h4 {
  font-size: 40px;
}

p {
  line-height: 2;
  display: flex;
  justify-content: start;
}
img {
  width: 400px;
}

.hero {
  background: var(--background-color);
  padding: 160px 20px;
  text-align: center;
}
button {
  font-family: var(--heading-font-family);
  font-size: 18px;
  color: white;
  background: var(--secondary-color);
  padding: 20px 20px;
  border-radius: 15px;
  border: solid var(--secondary-color) 1px;
  margin: 20px 0;
}
button:hover {
  color: var(--secondary-color);
  background: white;
}

.section-line {
  background-color: palegreen;
  border-style: double;
  border-width: 3px;
}

@media (max-width: 1000px) {
  .hero {
    line-height: 1.2;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 60px;

    margin-bottom: 20px;
  }
  h3 {
    font-size: 25px;
    text-align: center;
  }
  .image-column {
    text-align: center;
    display: block;
  }
  .definition {
    margin: 20px;
    text-align: center;
  }
  .about-text {
    text-align: center;
    margin-bottom: 20px;
  }
  img {
    text-align: center;
    padding: 20px;
  }
  .projects-main-heading {
    font-size: 35px;
    line-height: 1.5;
    padding: 0 20px 0 20px;
  }
  .project-headings {
    text-align: center;
    margin-bottom: 0;
  }
}
