:root {
  --background-color: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  --primary-color: #233142;
  --secondary-color: #e16428;
  --heading-color: #fbf2d5;
  --linkedin-color: #0a65c2;
  --heading-font-family: "Bree Serif", serif;
  --primary-font-family: "Fjalla One", sans-serif;
  --secondary-font-family: "Rubik", sans-serif;
}

.first-section {
  background: var(--background-color);
  text-align: center;
}
nav {
  padding: 20px 0 0;
}
nav hr {
  color: var(--heading-color);
}
.nav-heading a {
  color: var(--heading-color);
  font-size: 24px;
  line-height: 2;
  margin: 60px;
}
a {
  text-decoration: none;
}
a.active {
  color: var(--secondary-color);
}
.hero {
  padding: 100px 20px;
  text-align: center;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 76px;
  margin: 0;
  color: var(--heading-color);
  line-height: 1.2;
}
h2 {
  font-family: var(--primary-font-family);
  font-size: 52px;
  font-weight: bold;
  color: var(--primary-color);
  color: var(--heading-color);
}
h3 {
  font-family: var(--secondary-font-family);
  color: var(--heading-color);
  font-size: 24px;
  line-height: 1.5;
}
h3 .developer-text {
  color: var(--heading-color);
}
h4 {
  font-size: 34px;
  margin-bottom: 20px;
}
.projects-main-heading {
  margin-bottom: 60px;
}
.project-headings {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  line-height: 2;
}
p {
  line-height: 2;
  display: flex;
  justify-content: start;
}
img {
  width: 400px;
}
strong {
  color: var(--secondary-color);
  font-size: 24px;
}
.btn-branding {
  font-family: var(--heading-font-family);
  font-size: 22px;
  color: whitesmoke;
  background: var(--secondary-color);
  padding: 15px 20px;
  border-radius: 15px;
  border: solid var(--secondary-color) 1px;
}
.btn-branding:hover {
  color: var(--secondary-color);
  background: whitesmoke;
}
.gizem-image {
  margin-top: 200px;
}
.contact-info {
  display: block;
  margin: 20px 20px;
  font-size: 35px;
  color: black;
  text-align: center;
  padding: 0 10px;
}
.contact-info-inner {
  padding: 30px;
}
.info-link,
.phone-number {
  font-size: 24px;
  color: var(--linkedin-color);
  opacity: 1;
}
.info-link:hover {
  text-decoration: underline;
}
.portfolio-project {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  opacity: 0.7;
}
.github {
  color: var(--linkedin-color);
  font-size: 22px;
}
footer {
  margin: 0;
  padding: 10px 10px;
  border-radius: 10px;
}
footer .social-links {
  text-align: center;
  padding: 0;
  margin: 0;
}
footer .social-links a {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 25px;
}
.fa-linkedin-in {
  color: var(--linkedin-color);
  font-size: 32px;
}
@media (max-width: 1000px) {
  .nav-heading a {
    font-size: 20px;
    margin: 10px;
  }
  .hero {
    line-height: 1.2;
    margin: 0;
    padding: 40px 20px;
  }
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  h2 {
    font-size: 40px;
  }
  h3,
  strong,
  .info-link,
  .phone-number {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    opacity: 1;
  }
  h3 ul {
    margin: 0;
    padding: 0;
  }
  h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.5;
  }
  li {
    text-decoration: none;
    list-style: inside;
  }

  .projects-main-heading {
    font-size: 35px;
    line-height: 1.5;
    padding: 0 20px 0 20px;
    margin: 8px;
  }
  .project-headings {
    font-size: 18px;
    margin: 0;
    padding: 0 20px;
  }
  .heading-name {
    display: none;
  }
  .definition {
    padding: 20px 20px;
    margin: 20px 0;
    text-align: center;
  }
  .about-text {
    text-align: center;
  }

  .project-image {
    display: none;
  }
  img {
    text-align: center;
    padding: 20px;
  }
  .image-column {
    text-align: center;
    display: block;
  }
  .gizem-image {
    margin: 10px 0;
  }
  .contact-info {
    font-size: 25px;
  }
  .contact-info-inner {
    padding: 20px;
  }
  a,
  .phone-number strong {
    font-size: 25px;
  }
  .portfolio-project,
  .portfolio-project a {
    font-size: 16px;
  }
  footer .social-links a {
    font-size: 25px;
  }
}
